#search-bar{
    width: 28%;
    max-height: 40px;
    height:40%;
    border-radius: 5px;
}
.header{
    padding: 10px;
    width: 100%;
    display: flex;
    background: #282828;
    justify-content: center;
    align-items: center;
    height: 10%;
    max-height: 150px;
}