*{
    margin: 0%;
    padding: 0;

}
.app{
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: inline-flex;
    justify-content: space-around
}
.app>ul>li{
    list-style: none
}